<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Hello <%= user.username %></h1>
      </div>
      <div class="indexForms">
        <form class="loginForm" action="/logout" method="get">
          <input type="submit" name="submit" value="logout">
        </form><br>
        <form class="delete" action="/userHome/<%= user.id %>/delete" method="post">
          <input type="submit" name="submit" value="delete account">
        </form>
      </div>
    </div>
  </body>
</html>
